.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__btn {
  position: absolute;
  border: 2px solid #1D6ECB;
  border-radius: 5px;
  width: 42px;
  height: 49px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 15;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__btn--preev {
  background-image: url("../img/preev.svg");
  left: calc(50% - 580px);
  top: calc(50% - 21px);
  margin-left: 15px;
}

.slider__btn--next {
  background-image: url("../img/next.svg");
  right: calc(50% - 580px);
  top: calc(50% - 21px);
  margin-right: 25px;
}

.slider__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  width: 66vw;
  max-width: 66vw;
  margin-left: auto;
  margin-right: auto;
}

.slider__item {
  width: 200px;
  height: 240px;
  margin: 35px 15px !important;
  flex-shrink: 0;
  transition: transform .5s ease;
}

@include breakpoint-down (1300) {
  .slider__btn--preev {
    left: 0;
  }

  .slider__btn--next {
    right: 0;
  }
}


@include breakpoint-down (670) {

  .slider__list {
    width: 90vw;
    max-width: 90vw;
  }
  .slider__btn {
    top: 100%;
  }

  .slider__btn--preev {
    left: calc(50% - 100px);
  }

  .slider__btn--next {
    right: calc(50% - 100px);
  }
}